<% const data = new Date(stringData); %>
<% const dia = String(data.getDate()).padStart(2, '0'); %>
<% const mes = String(data.getMonth() + 1).padStart(2, '0'); %>
<% const ano = data.getFullYear();%>
<% const horas = String(data.getHours()).padStart(2, '0'); %>
<% const minutos = String(data.getMinutes()).padStart(2, '0'); %>
<p class="date"><%= `${dia}/${mes}/${ano} - ${horas}:${minutos}`; %></p>