<div class="modal fade" id="modalDeleteCategory-<%= index %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar exclusão de categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja deletar a categoria "<%= category %>"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" onclick="clickYes(event, <%= index %>)">Sim</button>
      </div>
    </div>
  </div>
</div>
<script>
  function clickYes(event, index) {
    let id = 'form-delete-category-' + index
    const form = document.getElementById(id);
    form.submit();
  }
</script>