<nav class="navbar navbar-light"  id="navbar-page">
  <a class="navbar-brand" href="/">
    <img src="/img/logo-perguntas-e-respostas.png" width="101" height="79">
  </a>
  <a class="navbar-brand" href="/">
    <h4>Guia Perguntas e Respostas</h4>
  </a>
</nav>
</html>