:root{
  --amarelo--: #f2d527;
  --bege--: #f9e8ba;
  --marrom--: #6e532d;
  --azul--: #71a0b0;
  --verde--: #acd0c4;
  --verde2--: #acd0c4b0;
  --background--: #eceff1;
}

body{
  background-color: var(--background--);
}

#navbar-page{
  background-color: var(--verde--)
}

#formulario-pergunta{
  margin-top: 5vh;
}

#btn{
  background-color: var(--verde--);
}

#btn:hover{
  background-color: var(--verde2--);
}

.perguntar-ordenar{
  display: flex;
  justify-content: space-between;
}
